<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>НАШИ ПРОДУКТЫ</title>
</head>
<body>

    <h1> СИСТЕМА УПРАВЛЕНИЯ ПРОДУКТАМИ </h1>

    {% block content %}

    {% endblock content %}
    <h2> <a href = "{% url 'product_list' %}"> К СПИСКУ ПРОДУКТОВ </a></h2>

    <h2> <a href = "{% url 'add_product' %}"> ДОБАВИТЬ НОВЫЙ ПРОДУКТ</a></h2>

    <H4> А ЗДЕСЬ ОГУРЧИКИ ХРАНИТЬ</H4>


</body>
</html>