{% extends 'products/base.html' %}

{% block content %}

<h2> А это список продуктов</h2>

{% for product in products %}

    <ul>
        <li> <a href = "{% url 'one_product' product.id %}"> Продукт: {{product.name}} </a>
            <p> описание: {{product.description}}</p> 
            <p> стоимость: {{product.price}} руб./100гр.</p>
            <p> <a href = "{% url 'edit_product' product.id %}" > РЕДАКТИРОВАТЬ</a></p>
        
            <p> <a href = "{% url 'one_delete_product' product.id %} " > УДАЛИТЬ</a></p>
           
        
        </li>
        
    </ul>

{% endfor%}

{% endblock content %}